specVersion: 0.0.2
description: $PICKLE Token Contracts
schema:
  file: ./schema.graphql
dataSources:
  - kind: ethereum/contract
    name: staking
    network: mainnet
    source:
      address: "0xD86F33388BF0bfDF0cCb1ECB4A48a1579504DC0a"
      abi: StakingContract
      startBlock: 10987327
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.4
      language: wasm/assemblyscript
      entities:
        - RewardAdded
        - RewardPaid
        - Staked
        - Withdrawn
      abis:
        - name: StakingContract
          file: ./abis/StakingContract.json
        - name: ERC20
          file: ./abis/ERC20.json
      eventHandlers:
        - event: RewardAdded(uint256)
          handler: handleRewardAdded
        - event: RewardPaid(indexed address,uint256)
          handler: handleRewardPaid
        - event: Staked(indexed address,uint256)
          handler: handleStaked
        - event: Withdrawn(indexed address,uint256)
          handler: handleWithdrawn
      file: ./src/staking.ts
  {% for contract in contracts %}
  - kind: ethereum/contract
    name: {{ contract.name }}
    network: mainnet
    source:
      address: "{{ contract.address }}"
      abi: PickleJar
      startBlock: {{ contract.startBlock }}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.4
      language: wasm/assemblyscript
      entities:
        - Approval
        - Transfer
      abis:
        - name: PickleJar
          file: ./abis/PickleJar.json
      eventHandlers:
        - event: Transfer(indexed address,indexed address,uint256)
          handler: handleTransfer
      file: ./src/jars.ts
  {% endfor %}
